<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h3>Checkin</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

  <form [formGroup]="checkinForm" (ngSubmit)="onSubmit()">
    <mat-form-field floatLabel="Room">
      <mat-label>Room</mat-label>
      <mat-select class="form-control" formControlName="room" >
        <mat-option *ngFor="let room of rooms" [value]="room">
          {{room.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="checkin-form-person" floatLabel="Person name">
      <input matInput placeholder="Person name" formControlName="personName">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!checkinForm.valid">Checkin</button>
  </form>
  <p class="mat-error" *ngIf="lastCheckinError">{{lastCheckinError}}</p>
  </mat-card-content>
</mat-card>
