<mat-card>
  <div class="reception-dashboard-roomlist">
    <a *ngFor="let room of rooms" [routerLink]="['/reception/room_detail/', room.id]" class="room-item">{{room.name}}</a>
  </div>

  <mat-card-header>
    <mat-card-title>
      <h2>Reception dashboard</h2>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
      <app-checkin-form [rooms]="rooms" (checkin)="onCheckoutOrCheckin()"></app-checkin-form>
      <app-guest-list [checksin]="checksin" (checkout)="onCheckoutOrCheckin()"></app-guest-list>
      <app-checkin-log [checksinLog]="checksinLog"></app-checkin-log>
  </mat-card-content>
</mat-card>
